@import './base.css';

body {
  text-transform: uppercase;
  background-color: var(--very-dark-blue-2);

  background-image: url(@/assets/images/pattern-hills.svg);
  background-position: 70% bottom;
  background-repeat: no-repeat;
  background-size: 100% 20%;
}
